<footer class="footer has-background-grey-dark has-text-light">{% load static %}
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <figure class="image is-square">
                    <img src="{% static 'frontpage/img/poc-logo-light.svg' %}">
                </figure>
            </div>
            <div class="column">
            </div>
            <div class="column">
                <p class="mt-2">
                    <a href="">Privacy Policy</a>
                </p>
                <p class="mt-2">
                    <a href="">Terms and Conditions</a>
                </p>
                <p class="mt-2">
                    <a href="">Lorem ipsum dolor, sit amet</a>
                </p>
                <p class="mt-2">
                    <a href="">Lorem ipsum dolor, sit amet</a>
                </p>
                <p class="mt-2">
                    <a href="">Attribution</a>
                </p>
                <p class="mt-2">
                    Normal Text
                </p>
            </div>
            <div class="column">
            </div>
        </div>
    </div>
</footer>