{% extends 'frontpage/base.html' %}
{% load static %}
{% block title %}Services! 🚛{% endblock %}
{% block content %}
<section id="home-move" class="section is-large poc-bg-image" style="background-image: url('{% static "frontpage/img/bg-home.jpg" %}')">
    <div class="container">

        <div class="columns is-vcentered">
            <div class="column"></div>
            <div class="column is-half-tablet is-half-desktop is-half-widescreen is-two-fifths-fullhd">
                <div class="has-text-centered mb-6">
                    <h1 class="title is-2 is-uppercase has-background-white">Home move</h1>
                    <p class="subtitle is-4 has-background-white">A short tag line about home moves</p>
                    <hr class="poc-hr has-background-warning is-centered">
                </div>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <div class="has-text-centered mt-4">
                    <a class="button is-rounded is-warning" href="{% url 'frontpage:home' %}#quote">
                        <strong>Get a Quote</strong>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="office-move" class="section is-large">
    <div class="container">

        <div class="columns is-vcentered">
            <div class="column is-half-tablet is-half-desktop is-half-widescreen is-two-fifths-fullhd">
                <div class="has-text-centered mb-6">
                    <p class="title is-2 is-uppercase has-background-white">Office move</p>
                    <p class="subtitle is-4 has-background-white">A short tag line about office moves</p>
                    <hr class="poc-hr has-background-link is-centered">
                </div>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <div class="has-text-centered mt-4">
                    <a class="button is-rounded is-link" href="{% url 'frontpage:home' %}#quote">
                        <strong>Get a Quote</strong>
                    </a>
                </div>
            </div>
            <div class="column">
                <figure class="image is-hidden-mobile">
                    <img src="{% static 'frontpage/img/office-workers.svg' %}">
                </figure>
            </div>
        </div>

    </div>
</section>

<section id="handyman-services" class="section is-large poc-bg-image" style="background-image: url('{% static 'frontpage/img/drill.jpg' %}')">
    <div class="container">

        <div class="columns is-vcentered">
            <div class="column">
            </div>
            <div class="column is-half-tablet is-half-desktop is-half-widescreen is-two-fifths-fullhd">
                <div class="has-text-centered mb-6">
                    <p class="title is-2 is-uppercase has-background-white">Handyman Services</p>
                    <p class="subtitle is-4 has-background-white">A short tag line about handyman services</p>
                    <hr class="poc-hr has-background-danger is-centered">
                </div>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <div class="has-text-centered mt-4">
                    <a class="button is-rounded is-danger" href="{% url 'frontpage:home' %}#quote">
                        <strong>Get a Quote</strong>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="clearance" class="section is-large">
    <div class="container">

        <div class="columns is-vcentered">
            <div class="column is-half-tablet is-half-desktop is-half-widescreen is-two-fifths-fullhd">
                <div class="has-text-centered mb-6">
                    <p class="title is-2 is-uppercase has-background-white">Clearance</p>
                    <p class="subtitle is-4 has-background-white">A short tag line about clearance</p>
                    <hr class="poc-hr has-background-primary is-centered">
                </div>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <p class="has-background-white px-4 py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ex repellat impedit nam? Cupiditate tempora quae officia vero nihil libero molestias, commodi illum quaerat, sed nesciunt nam unde quibusdam dolore!</p>
                <div class="has-text-centered mt-4">
                    <a class="button is-rounded is-primary" href="{% url 'frontpage:home' %}#quote">
                        <strong>Get a Quote</strong>
                    </a>
                </div>
            </div>
            <div class="column">
                <figure class="image is-hidden-mobile">
                    <img src="{% static 'frontpage/img/globe.svg' %}">
                </figure>
            </div>
        </div>

    </div>
</section>
{% endblock content %}