{% extends 'frontpage/test-content.html' %}
{% block content-2 %}
<p>Test content 2 block</p>


<div style="height: 100vh;">
    <div style="
    /* Background color */
    background-color: rgba(0, 0, 0, 0.3);

    /* You can use gradient background color such as
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */

    /* Curved corners */
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    height: 50%;

">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias consequatur commodi, enim perspiciatis
            perferendis error minima nam modi numquam quod placeat quos est doloremque quis soluta maxime harum beatae
            omnis?</h2>

    </div>
</div>
{% endblock content-2 %}