{% extends 'frontpage/base.html' %}
{% block title %}Thanks for your query{% endblock %}
{% block navbar %}{% endblock navbar %}
{% block content %}
{% comment %} <div class="div-img">
    <img src="https://ik.imagekit.io/kris/website-top-right_hrd-60CqRb-.svg">
</div> {% endcomment %}

<section class="hero is-fullheight has-background-white-bis">
    <div class="hero-head">
        {% include "frontpage/sec-navbar.html" %}
    </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered has-text-centered">
                <div class="column is-half">
                    <div class="image">
                        <img src="https://ik.imagekit.io/kris/poc/van-website_xNUyIlNJm.svg" alt="">
                    </div>
                </div>
                <div class="column is-half">
                    <p class="title is-2 is-uppercase">Your email has been sent</p>
                    <p class="subtitle is-4">Sit back and relax. Piece Of Cake have received your email and a
                        confirmation email has been
                        sent to you too.</p>
                    <hr class="poc-hr has-background-primary is-centered mb-6">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}