{% extends 'frontpage/base.html' %}
{% load static %}
{% block title %}This is not the page you're looking for 🙈{% endblock %}
{% block navbar %}{% endblock navbar %}
{% block content %}

<section class="hero is-fullheight has-background-white-bis">
    <div class="hero-head">
        {% include "frontpage/sec-navbar.html" %}
    </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered has-text-centered">
                <div class="column is-half">
                    <div class="image">
                        <img src="{% static 'frontpage/img/404.svg' %}" alt="Page not found">
                    </div>
                </div>
                <div class="column is-half">
                    <h1 class="title is-2 is-uppercase">404</h1>
                    <p class="subtitle is-4">This page does not exist. Go back to <a href="{% url 'frontpage:home' %}">pieceofcake.solutions</a></p>
                    <hr class="poc-hr has-background-danger is-centered mb-6">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}